{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static '../static/favicon.png' %}">

	<link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '../static/style.css' %}">
	<link rel="stylesheet" href="{% static '../static/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static '../static/css/font-awesome.min.css' %}">
	<link href='https://fonts.googleapis.com/css?family="Josefin+Sans"&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<script src="{% static '../static/js/jquery-2.1.0.min.js' %}"></script>
	<script src="{% static '../static/js/bootstrap.min.js' %}"></script>
	<script src="{% static '../static/js/blocs.min.js' %}"></script>
	<script src="{% static '../static/js/jquery.touchSwipe.min.js' %}" defer></script>
	<script src="{% static '../static/js/lazysizes.min.js' %}" defer></script>
    <title>电影详情</title>


<!-- Google Analytics -->

<!-- Google Analytics END -->

</head>
<body>
<!-- Main container -->
<div class="page-container">

<!-- bloc-0 -->
<div class="bloc bgc-black d-bloc" id="bloc-0">
	<div class="container fill-bloc-top-edge">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static '../static/img/logo.png' %}" alt="logo" class="lazyload" />ThoughtWorks</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle menu-icon-rounded-bars" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1 special-dropdown-nav">
			    <form action="{% url 'movie_search_form' %}" method="post" class="navbar-form pull-right" role="search">
                    {% csrf_token %}
                    <input type="text" name="q" class="form-control" placeholder="Search">
                    <button type="submit" name="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
		</nav>
	</div>
</div>
<!-- bloc-0 END -->

<!-- bloc-1 -->
<div class="bloc bgc-splashed-white l-bloc" id="bloc-1">
	<div class="container bloc-lg">
        <h2>{{movie.title}} {{movie.original_title}} ({{movie.year}})</h2>
        <div class="row voffset">
            <!--left-->
            <div class="col-sm-4 col-xs-6">
                <img src="{{movie.image}}" class="movie_detail_page" />
			</div>
            <!--end left-->

            <!--right-->
			<div class="col-sm-8 col-xs-6">
                <div id="info">
                    <span><span class="pl">导演: </span> <span class="attrs">{{movie.directors}}</span></span><br>
                    <span class="actor"><span class="pl">主演: </span> <span class="attrs">{{movie.casts}}</span></span><br>
                    <span class="pl">类型: </span> <span property="v:genre">{{movie.genres}}</span><br>

                    <span class="pl">制片国家/地区: </span>{{other_info.region}}<br>
                    <span class="pl">语言: </span> {{other_info.languages}}<br>
                    <span class="pl">上映日期: </span> <span property="v:initialReleaseDate" content="">{{movie.year}}年</span><br>
                    <span class="pl">评分: </span>{{movie.rating}}<br>
                </div>

			</div>
            <!--end right-->
		</div>

        <div class="row">
            <h3 class="detail-page-title">剧情简介</h3>
            <div class="col-sm-12">
                <p>
                    {{other_info.intro}}<a href="https://movie.douban.com/subject/{{movie.id}}/">豆瓣</a>
                </p>
			</div>
		</div>
        <div class="row">
            <h3 class="detail-page-title">影评</h3>
            <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
			</div>
		</div>
        <div class="row">
            <h3 class="detail-page-title">电影推荐</h3>
            {% for rec in recommend_list %}
            <div class="col-sm-2 col-xs-4 text-center">
                <a href="{% url 'movie_detail' rec.id %}" data-gallery-id="gallery-1">
                    <img src="{{rec.image}}" alt="照片无法显示" class="img-responsive lazyload movie-img" />
                    <p class="text-center">
                        {%if rec.title|length >= 8 %}
                        {{rec.title|slice:'6'}} ...
                        {%else%}
                        {{rec.title}}
                        {%endif%}
                    </p>
                </a>
                <p class="text-center movie-rating">
                    评分: {{rec.rating}}
                </p>
            </div>
            {% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer - bloc-2 -->
<div class="bloc bgc-splashed-white build-with-blocs-bloc none bg-tracks d-bloc" id="bloc-2">
	<div class="container bloc-sm">
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="https://school.thoughtworks.cn/bbs/" target="_blank"><img src="{% static '../static/img/lazyload-ph.png' %}" data-src="{% static '../static/img/blocs-logo-wo.svg' %}" class="img-responsive center-block mg-sm lazyload" height="38" width="38" /></a>
				<p class="text-center">
					ThoughtWorks
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-2 END -->

</div>
<!-- Main container END -->


</body>
</html>
